body{
    background-image:url(/Card_War_Game/images/land1.jpeg);
    background-size:cover;
    align-items: center;
    justify-content: center;
    display: flex;
}
h2{
    
}

button{
    background-color: white;
    width: 170px;
    margin:0 20px;
    display:inline-block;
    line-height: 60px;
    border-radius: 5rem;
    border: 2px solid rgb(119, 6, 6);
    font-size: 1.2rem;
    box-shadow: 0 25px 50px beige;
    box-shadow: 0 25px 50px beige, 0 0 0 10px #A6A6A6;
} 


.landing {
    width: 300px;  
height: 300px;  
 
display: flex;  
justify-content: center;  
align-items: center;  
z-index: 15;
margin: 380px 0 0 -220px;
}
/* {
display: flexbox;
    position: absolute;
    border-radius: 2em;
    box-shadow: 0 25px 50px beige;
    /* box-shadow: 0 25px 50px beige, 0 0 0 1000px #A6A6A6; */
    /* width: 450px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -220px;
    background: #FFD966;
    /* text-align: center;} */ 