/* *, *::after, *::before { 
  box-sizing: border-box;
} */
html{
  width: 100%;
  min-width: 1000px;
  height: auto;
}
body{
    height: 100%;
    text-align: center;
    background-size: cover;
    background-image:url(/Card_War_Game/images/land1.jpeg);
   

}

header {
    /* margin: 10px 12 20px 15; */
    color: rgb(250, 4, 4);
    font-size: 4rem;
    height: 70px;
    font-size: large;
    align-items: center;
    justify-content: space-around;
    /* background-image:url(/Card_War_Game/images/head1.jpeg); */
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    width: 150px;
    height:60px;
    line-height: 60px;
    text-align: center;
    /* cursor: pointer; */
}

.tiles {
  margin: 5;
  display: grid;
  grid-template-columns: repeat(2, 14rem);
  grid-template-rows: 20rem 4rem 20rem;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 5rem;
}

.deck {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(119, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 1.5rem;
  color: (250, 4, 4);
  user-select: none;
}

.computer-deck {
  background-image:url(/Card_War_Game/images/playcard2.jpeg);
}

.player-deck {
  background-image:url(/Card_War_Game/images/playcard4.jpg);
}

.text {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(250, 4, 4);
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(119, 6, 6);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  /* background-image:url(/Card_War_Game/images/card3.jpeg) */
  background-color: white;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}

button{
  background-color: white;
  width: 170px;
  margin:0 20px;
  display:inline-block;
  line-height: 60px;
  border-radius: 5rem;
  border: 2px solid rgb(119, 6, 6);
  font-size: 1.2rem;
 
}
.row{
text-align:center;
margin-left:-20px;
margin-right:-20px;
}
#next:hover{
  background-color: rgb(94, 168, 228);
}
#reset:hover{
  background-color: rgb(245, 81, 81);
}
#music:hover{
  background-color: rgb(6, 168, 68);
}
.copyright{
  font-weight: 68em;
}
.checks{
/* text-align:right; */
margin-right:50px;
display:flex;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
margin-inline-start: 50px;
}
img{
  border-radius: 50%;
}